<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.zerock.board.mappers.BoardMapper">

  <!-- 리스트 -->
  <select id="list" resultType="BoardListDTO">
  select bno, title, content, writer, dueDate
  from tbl_board
  where bno > 0 and status = true
  order by bno desc
  limit #{skip}, #{size}
  </select>

  <!-- 게시판 다음버튼  total -->
  <select id="listCount" resultType="long">
  select count(*)
  from
  (select bno from tbl_board
  where bno > 0
  limit #{countEnd}) board
  </select>


</mapper>