<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout.html}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  
  <div class="container-fluid pt-4 px-4" layout:fragment="content">
    [[${board}]]
    <div class="col-sm-12 col-xl-12">
      <div class="bg-light rounded h-100 p-4">
        <h2 class="mb-4">게시판 목록</h2>
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">No</th>
              <th scope="col">제목</th>
              <th scope="col">작성자</th>
              <th scope="col">날짜</th>
            </tr>
          </thead>
          <tbody class="boardDetail">
            <tr th:each="list : ${board.list}">
              <td>[[${list.bno}]]</td>
              <td>[[${list.title}]]</td>
              <td>[[${list.writer}]]</td>
              <td>[[${list.dueDate}]]</td>
            </tr>
          </tbody>
        </table>
        <div class="btn-toolbar" role="toolbar" style="justify-content: center;">
          <!--/* paging */-->
          <div class="btn-group me-2 paging" role="group" aria-label="First group"></div>
        </div>
        <div class="button_wrap">
          <a href="/board/add" class="btn btn-primary">등록</a>
        </div>
      </div>
    </div>
    <script src="/js/paging.js"></script>
  </div>

  <script layout:fragment="script" th:inline="javascript">
  </script>
  
</body>
</html>